/* Images from Unsplash */
/* Geometry icon icon by Icons8 */
html, body{
  margin: 0;
  padding: 0;
  width: 100%;
}

body{
  font-family: 'Josefin Sans', sans-serif, 'Noto Serif JP', serif;
  background: rgb(255, 255, 255);
  color: #394247;
}
  
p{
  font-size: 16px;
  color: #394247;
}

h3{
  padding: 0px;
  margin: 40px 20px 0px;
  margin: 50px 0px 0px;
}

#navigation{
  width: 100%;
}

#introduction{
  background-color: rgb(108, 124, 135); 
  height: 50vh;
  padding: 200px 0px;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  color: rgb(255, 255, 255);
}

/* Intro - FADA */
#fada{
  text-transform: capitalize;
  letter-spacing: 2px;
  font-size: 80px;
  font-family: 'Noto Serif JP', serif;
}

/* Intro - ARCHITECTS*/
#architects{
  text-transform: lowercase;
  letter-spacing: 7px;
  font-size: 50px;
}

/* Navbar */
nav{
  position: fixed;
  z-index: 1;
  width: 100%;
  bottom: 0;
  font-family: 'Josefin Sans', sans-serif;
}

nav ul{
  overflow: hidden;
  list-style: none;
  padding: 0;
  margin: 0;
  transition: 0.5s;
  text-align: center;
  float: center;
  text-transform: uppercase;
}

nav ul li{
  display: inline-block;
  padding: 15px;
}

/* Navbar links */
nav ul li a{
  font-size: 17px;
  letter-spacing: 2px;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: 300;
  color: rgb(255, 255, 255);
}

nav a:hover{
  color: #394247;
  font-weight: bolder;
  padding: 14px 16px;
}

/* Navbar light transition */
nav.light ul{ 
  background: rgb(255, 255, 255);
  top: 0;
  color: #394247;
  padding: 5px 15px;
  text-transform:lowercase;
  font-size: x-small;
  z-index: 1;
}

nav.light ul li a{
  font-size: 17px;
  color: #394247;
  letter-spacing: 2px;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: 300;
}

nav.light a:hover{
  background-color: rgb(108, 124, 135); 
  color: rgb(255, 255, 255);
  font-weight: bolder;
  padding: 20px 16px;
}

#header-img{
  margin: 0;
  float: left;
}

#images{
  width: 40%;
  padding: 5px;
}

#title{
  text-align: center;
  font-family: "Noto Serif JP", serif;
  margin: 50px 390px 0px;
  padding: 50px 10px 0px;
  letter-spacing: 2px;
}

/* PROJECTS */
#projects-container{
  display: flex;
  flex-flow: row nowrap;
  gap: 50px;
  padding: 100px 100px 4px 0px;
  margin: 0px 0px 100px 0px;
  overflow: auto;
  max-width: 1200px;
}

/* SERVICES*/
#services_container{
  padding: 5px 220px 100px;
  margin: 0px 0px;
  text-align: center;
}

/* TEAM */
#team{
  padding: 60px 0px 110px;
  margin-bottom: 100px;
}

.team-container{
  display: flex;
  flex-flow: row nowrap;
  gap: 75px;
  margin: 0px 120px;
  padding: 110px 100px 5px;
}

#team_img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

.teamname-container{
  display: flex;
  flex-flow: row nowrap;
  gap: 187px;
  margin: 0px 100px;
  padding: 0px 160px;
  font-weight: bold;
  font-family: 'Noto Serif JP', serif; 
}

.teamtitle-container{ 
  display: flex;
  flex-flow: row nowrap;
  gap: 160px;
  padding: 0px 80px;
  margin: 0px 137px;
  font-family: 'Josefin Sans', sans-serif;
}

#contact #title{
  color: #58656E;
}

#contact-form{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  max-width: 600px;
  margin: 0px 300px 50px 300px;
  padding: 10px 120px;
}

input[type="text"], [type="email"]{
  color: #394247;
  width: 100%; 
  box-sizing: border-box; 
  letter-spacing: 1px;
}

#nameform{
  order: 1;
  width: 45%;
}

#emailform{
  order: 2;
  width: 52.2%;
}

#subjectform{
  order: 3;
  width: 100%;
} 

#messageform{
  order: 4;
  max-width: 100%;
  height: 150px;
} 

#subjectform{
  width: 438px;
}

textarea{
  height: 150px;
  box-sizing: border-box;
  width: 438px;
  resize: none;
}

.input-field{
  border: 1px solid  #394247; 
  padding: 7px 14px 9px; 
  transition: 0.4s;
  border-radius: 2px;
}

:focus{
  outline: none;
}

/*  inputfield Animation */
.inputfield-animation{
  position: relative;
}

.input-field ~ .focus-border:before,
.input-field ~ .focus-border:after{
  content: ""; 
  position: absolute; 
  top: 0; 
  left: 50%; 
  width: 0; 
  height: 2px; 
  background-color: #A9C3D4;
  transition: 0.4s;
}

.input-field ~ .focus-border:after{
  top: auto; 
  bottom: 0;
}

.input-field ~ .focus-border i:before,
.input-field ~ .focus-border i:after{
  content: ""; 
  position: absolute; 
  top: 50%; 
  left: 0; 
  width: 2px; 
  height: 0; 
  background-color: #A9C3D4; 
  transition: 0.6s;
}

.input-field ~ .focus-border i:after{
  left: auto; 
  right: 0;
}

.input-field:focus ~ .focus-border:before,
.input-field:focus ~ .focus-border:after{
  left: 0; 
  width: 100%; 
  transition: 0.4s;
}

.input-field:focus ~ .focus-border i:before,
.input-field:focus ~ .focus-border i:after{
  top: 0; 
  height: 100%; 
  transition: 0.6s;
}

#submit-btn{
  order: 5;
  width: 100%;
  padding: 10px;
  color: rgb(233, 233, 233);
  background-color: #58656E;
  border: none;
  border-radius: 2px;
  margin: 2px;  
  text-align: center;
  font-size: medium;
  font-family: 'Josefin Sans', sans-serif;
}

#submit-btn:hover{
  filter:brightness(120%);
}

/* FOOTER */
footer{
  background-color: rgb(108, 124, 135);
  color: rgb(233, 233, 233);
  padding: 30px 70px 200px;
  margin: 190px 0px 0px;
  font-family: 'Josefin Sans', sans-serif;
}

#contactfooter{
  float: left;
}

#rightfooter{
  float: right;
}

footer ul{
  list-style-type: none;
}

footer li{
  display: inline;
  text-align: center;
}

footer p{
  color: rgb(233, 233, 233);
}

/* MEDIA QUERIES */
/* iPhone  */
@media all and (max-width: 376px) and (max-width: 812px){
  nav ul{
    padding: 5px;
  }

  nav ul li{
    display: inline-block;
    padding: 5px;
  }
  
  nav ul li a{
    padding: 0px;
  }

  nav a:hover{
    padding: 5px 16px;
  }
  
  nav.light ul{
    padding: 0px;
  }

  nav.light ul li a{
    padding: 0px;
  }

  nav.light a:hover{
    padding: 5px 16px;
  }

  #introduction{
    height: 20vh;
    margin: 0px;
    padding: 100px 0px;
  }

  #projects-container{
    background-color: rgb(108, 124, 135); 
    max-width: 376px;
    margin: 5px 0px 0px;
    max-width: 376px;
    margin: 0px 0px;
    padding: 0px 40px 155px;
  }

  #images{
    width: 100%;
    padding: 0px 15px;
  }

  #title{
    margin: 80px 30px 0px;
    padding: 0px 10px;
    letter-spacing: 2px;
  }

  #services_container{
    padding: 0px 40px;
    margin: 50px 0px;
  }

  #team{
    padding: 0px;
    margin-bottom: 50px;
  }

  .team-container{
    gap: 20px;
    margin: 0px 5px;
    padding: 40px 10px 0px;
  }

  #team_img{
    width: 70px;
    height: 70px;
  }

  .teamname-container{
    gap: 55px;
    margin: 0px 15px;
    padding: 0px;
  }

  .teamtitle-container{
    gap: 30px;
    padding: 0px 0px;
    margin: 0px 20px;
  }

  #contact-form{
    gap: 5px;
    max-width: 600px;
    margin: 5px 30px 80px;
    padding: 10px 30px;
  }

  #subjectform{
    width: 253px;
  }

  textarea{
    width: 252.5px;
  }

  footer{
    padding: 30px 70px 250px;
    margin: 20px 0px;
  }
}

/* iPad in portrait & landscape */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  { 
  nav ul{
    padding: 5px;
  }

  nav ul li{
    display: inline-block;
    padding: 5px;
  }
  
  nav ul li a{
    padding: 0px;
  }

  nav a:hover{
    padding: 5px 16px;
  }
  
  nav.light ul{
    padding: 0px;
  }

  nav.light ul li a{
    padding: 0px;
  }

  nav.light a:hover{
    padding: 5px 16px;
  }

  #introduction{
    height: 20vh;
    margin: 0px;
    padding: 110px 0px;
  }

  #projects-container{
    background-color: rgb(108, 124, 135); 
    max-width: 376px;
    margin: 5px 0px 0px;
    max-width: 768px;
    margin: 0px 0px;
    padding: 0px 40px 120px;
  }

  #images{
    width: 70%;
    padding: 0px 15px;
  }

  #title{
    margin: 170px 30px 0px;
    padding: 0px 10px;
    letter-spacing: 2px;
  }

  #services_container{
    padding: 0px 100px 50px;
    margin: 50px 0px;
  }

  #team{
    padding: 0px;
    margin-bottom: 50px;
  }

  .team-container{
    gap: 55px;
    margin: 0px 20px;
    padding: 40px 42px 0px;
  }

  #team_img{
    width: 120px;
    height: 120px;
  }

  .teamname-container{
    gap: 138px;
    margin: 0px 20px;
    padding: 5px 70px 0px;
  }

  .teamtitle-container{
    gap: 100px;
    margin: 0px 20px;
    padding: 5px 30px 0px;
  }

  #contact-form{
    gap: 5px;
    max-width: 550px;
    margin: 5px 50px 80px;
    padding: 10px 90px;
  }

  #emailform{
    width: 261px;
  }

  #subjectform{
    width: 486px;
  }

  textarea{
    width: 486px;
  }

  footer{
    padding: 30px 70px 250px;
    margin: 20px 0px;
  }
}